
<h1>Welcome <%= @user.name %></h1>

<% @items.each do |item|%>
    <div>
        <p><%= link_to item.name, item_path(item) %></p>
        
   </div>
<%end%>

<%= button_to "delete", shops_path, method: :delete %>

<% @shops.each do |shop|%>
    <div>
        <%= shop.id %>
        
   </div>
<%end%>



<%= button_to "Edit my account", edit_user_path, method: :get %>
<br>
<%= button_to "See listings", items_path, method: :get %>
<br>
<%= button_to "Buy", new_shop_path, method: :get%>

