
<div class="container">

    <div class="row bounce-in-left">
        <h1>Welcome <%= @user.name %></h1>
    </div>

    <div>
        <h3> Shopping List</h3>
    </div>

  <div class="row fade-in">

   <% @user.items.each do |item|%>

    <div class="col">
      <p><%= link_to item.name, item_path(item) %></p>
      <img src="<%= item.image %>" alt="">
    </div>
    
    <% end %>

  </div>

    <div class="row">
       <%= button_to "Edit my account", edit_user_path, method: :get %>
        <br>
        <%= button_to "See listings", items_path, method: :get %>
        <br>
        <%= button_to "Buy", new_user_shop_path(@user), method: :get%>
    </div>
    
</div>