
<div class="container">
    <div class="row">
        <h1>Edit item</h1>
    </div>

  <div class="row">
   <%= form_for @item do |f|%>
    <div class="col">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="col">
      <%= f.label :category %>
      <%= f.text_field :category %>
    </div>
    <div class="col">
      <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div class="col">
      <%= f.label :image %>
        <%= f.text_field :image %>
        <br>
        <%= f.submit%>
    </div>

    <% end %>

  </div>

    <div class="row">
        <%= button_to "new listing", new_item_path, method: :get%>
        <br>
        <%= button_to "back", item_path, method: :get %>
        <br>
        <%= button_to "delete", item_path, method: :delete%>
    </div>
    
</div>







