
<div class="container">

  <div class="row tracking-in-expand">
      <h1> Item List</h1>
  </div>

  <div class="row">

    <% @items.each do |item| %>
        <div class = "col text-center bounce-in-left">
            <h3><%= link_to item.name, item %></h3>
            <ul>
                <li><%= item.description %></li>
                <li><%= item.category %></li>
            </ul>
            <img src="<%= item.image %>" alt="<%= item.name %>"> 
        </div>
        
    <% end %>

  </div>

  <div class="row">
    <%= button_to "Back To home", users_path, method: :get%>
  </div>

</div>