

<h1><%= @item.name%></h1>
<p><%= @item.description%></p>
<p><%= @item.category%></p>
<img src="<%= @item.image%>" alt="<%= @item.name%>">

<%= button_to "edit", edit_item_path, method: :get %>
<br>
<%= button_to "Show all Listing", items_path, method: :get %>
<br>



